p1{
    text-align: center;
    font-size: 35;
    color: black;
    margin: 0 auto;
    text-align: center;
    margin-top: 10;
    font-weight: bold;
    height: 90%;
    padding: 50;
    margin: 100
}

p2{
    margin: 0 auto;
    text-align: center;
    font-size: 35;
    color: black;
    margin-top: 10;
    font-weight: bold;
    height: 90%;
    padding: 50;
    margin: 100
}

.CreateSchedule{
    position:absolute;
    transition: .5s ease;
    top: 10%;
    left: 25%; 
}
.ViewSchedule{
    position:absolute;
    transition: .5s ease;
    top: 10%;
    left: 35%; 
}
.ExploreCourses{
    position:absolute;
    transition: .5s ease;
    top: 15%;
    left: 25%; 
}
.EditGraduationPlan{
    position:absolute;
    transition: .5s ease;
    top: 15%;
    left: 35%; 
}
/*
.white-box {
    background-color: white;
    background-repeat:no-repeat;
    background-position: center center;
    height: 90%;
    width: 90%;
    padding: 0;
    margin: 50;
}*/
