body{
    margin: 0;
    padding: 0;
    background: url(classroom.png);
    background-size: cover;
    background-position: center

}
p1{
    text-align: center;
    font-size: 35;
    color: white;
    margin: 0 auto;
    text-align: center;
    margin-top: 10;
    font-weight: bold;
    padding-bottom: 50px;
    padding: 70;
    margin: 100
}

p2{
    margin: 0 auto;
    text-align: center;
    font-size: 35;
    color: white;
    margin-top: 10;
    font-weight: bold;
    height: 90%;
    padding: 70;
    margin: 100
}
.sidenav {
  height: 100%; 
  width: 160px; 
  position: fixed; 
  top: 0; 
  background-color: #111; 
  padding-top: 20px;
}
.sidenav a {
  padding: 1px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}
.sidenav a:hover {
  color: white;
}
